<h2>平均点ランキング</h2>
<% rank = 1 %>
<% @average_score_list.each do |student, average_score| %>
  <div>
    <p>No.<%= "#{rank}: #{student} #{average_score}点" %></p>
  </div>
  <% rank += 1 %>
<% end %>

<%= link_to '数学ランキング', math_ranking_curriculums_path %>
<br><br>
<%= link_to '閉じる', "#", id: "close_average_ranking" %>

<script>
  $(function() {
    $('#close_average_ranking').on('click', function(e) {
      window.close();
    });
  });
</script>