<h2>数学ランキング</h2>
<% rank = 1 %>
<% @math_score_list.each do |student, math| %>
  <div>
    <p>No.<%= "#{rank}: #{student} #{math}点" %></p>
  </div>
  <% rank += 1 %>
<% end %>

<%= link_to '平均点ランキング', average_ranking_curriculums_path %>
<br><br>
<%= link_to '閉じる', "#", id: "close_math_ranking" %>

<script>
  $(function() {
    $('#close_math_ranking').on('click', function(e) {
      window.close();
    });
  });
</script>